{% include header.html %}
<section class="container content">
    <div class="container">
        <div class="collection-title">
        	<span id="busuanzi_container_site_pv">全站人气：<span id="busuanzi_value_site_pv">
        </div>
    </div>
    <div class="container">
        <div class="collection-title">
        	<span id="busuanzi_container_page_pv">当前阅读量：<span id="busuanzi_value_page_pv"><i class="fa fa-spinner"></i>
        </div>
    </div>
</section>
    {{ content }}
{% include footer.html %}